@tailwind base;
@tailwind components;
@tailwind utilities;

.click {
  border: 2px solid #1e293b;
}
.click:hover {
  box-shadow: 6px 6px 0 0 #1e293b;
  transform: translate(-6px, -6px);
}

.animated-underline {
  position: relative;
}
.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  @apply bg-amber-500;
  transition: width 0.3s ease-in-out;
}
.animated-underline:hover::after {
  width: 100%;
}
